 @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Open+Sans:wght@600;700;800&family=Roboto+Serif:opsz,wght@8..144,300&family=Roboto:wght@300&display=swap');

 html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif; 
    overflow-x: hidden;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1));
    background-color:#F7F87B ;
  }

  h1{
    text-align: center;
 }

.container{
    width: 300px;
    position: relative;
    left: 40%;
  }

  .button{
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    background-color: aqua;
    font-size: larger;
  }
  
  .row{
    margin: 8px 0;
  }
  .row input{
    width: 291px;
    font-size: 20px;
      margin: 0;
      padding: 10px 0px;
      border: 2px solid black;
      border-radius: 5px;
      background-color: #d8d8d8;
  }